<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- Configuracao do iisnode -->
    <!-- IMPORTANTE: Descomente a linha abaixo APOS instalar e registrar o iisnode -->
    <!-- Execute: analise\verificar-e-instalar-iisnode.ps1 (como Administrador) -->
    <handlers>
      <!-- Descomente esta linha apos instalar o iisnode -->
      <!-- <add name="iisnode" path="index.js" verb="*" modules="iisnode"/> -->
    </handlers>
    
    <!-- Redireciona todas as requisicoes para index.js -->
    <rewrite>
      <rules>
        <!-- Todas as requisicoes vao para index.js -->
        <rule name="NodeApp">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuracoes minimas do iisnode -->
    <!-- Configuracoes detalhadas estao no arquivo iisnode.yml -->
    <iisnode
      node_env="production"
      loggingEnabled="false"
      logDirectory="iisnode"
      devErrorsEnabled="false"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
    />
    
  </system.webServer>
</configuration>
